<table class="table m-t">
    <thead>
        <tr>
            <th colspan="6">
                Followers List :
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tdGridWidth_20"><a>Bhaskar Ramachandran</a></td>
            <td class="text-right tdGridWidth_10">Short Message: </td>
            <td class="tdGridWidth_30"><input class="form-control"/></td>
            <td class="tdGridWidth_10"><button class="btn btn-success">Send Message</button></td>
            <td class="tdGridWidth_10"><button class="btn btn-danger">Delete</button></td>
            <td class="tdGridWidth_10"><span class="glyphicon glyphicon-envelope"></span></td>
        </tr>
        <tr>
            <td><a>Eswar Vemulapall</a></td>
            <td class="text-right tdGridWidth_10">Short Message: </td>
            <td><input class="form-control"/></td>
            <td><button class="btn btn-success">Send Message</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
            <td><span class="glyphicon glyphicon-envelope"></span></td>
        </tr>
        <tr>
            <td><a>Jagdeesh Shetty</a></td>
            <td class="text-right tdGridWidth_10">Short Message: </td>
            <td><input class="form-control"/></td>
            <td><button class="btn btn-success">Send Message</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
            <td><span class="glyphicon glyphicon-envelope"></span></td>
        </tr>
    </tbody>
</table>