<div class="row">
    <div class="col-lg-10 view-h-100">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                        <!--<li><a href="#">Link</a></li>-->
                        <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Dropdown
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-toggle="modal" data-target="#myModal" >log In</a></li>
                        <li><a ui-sref="signUp">Sign Up</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="row">
            <div class="col-lg-12">

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="newsUSA">
                        <div class="row border-bottom">
                            <div class="col-lg-5 text-right" >
                                <h3>Will you vote for Donald Trump ? </h3>
                            </div>
                            <div class="col-lg-7">
                                <table class="table noneBorder">
                                    <tbody>
                                    <tr>
                                        <td>100,253</td>
                                        <td>67,890</td>
                                        <td>2,567</td>
                                        <td>169,000</td>
                                        <td rowspan="2" align="center">
                                            <span class="glyphicon glyphicon-share"></span>
                                        </td>
                                        <td rowspan="2" align="center">
                                            <button type="button" class="btn btn-info">Comments</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btn btn-success">Yes</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger">No</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-default">Don't Care</button>
                                        </td>
                                        <td>
                                            <div class="totalDiv">Total</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-lg-5 text-right">
                                <h3>Mohammed Ali was the greatest boxer of all time ? </h3>
                            </div>
                            <div class="col-lg-7">
                                <table class="table noneBorder">
                                    <tbody>
                                    <tr>
                                        <td>100,253</td>
                                        <td>67,890</td>
                                        <td>2,567</td>
                                        <td>169,000</td>
                                        <td rowspan="2" align="center">
                                            <span class="glyphicon glyphicon-share"></span>
                                        </td>
                                        <td rowspan="2" align="center">
                                            <button type="button" class="btn btn-info">Comments</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btn btn-success">Yes</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger">No</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-default">Don't Care</button>
                                        </td>
                                        <td>
                                            <div class="totalDiv">Total</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-lg-5 text-right">
                                <h3>How much did you like the latest Starwars movies ? </h3>
                            </div>
                            <div class="col-lg-7">
                                <table class="table noneBorder">
                                    <tbody>
                                    <tr>
                                        <td>100,253</td>
                                        <td>67,890</td>
                                        <td>2,567</td>
                                        <td>169,000</td>
                                        <td rowspan="2" align="center">
                                            <span class="glyphicon glyphicon-share"></span>
                                        </td>
                                        <td rowspan="2" align="center">
                                            <button type="button" class="btn btn-info">Comments</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btn btn-success">Yes</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger">No</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-default">Don't Care</button>
                                        </td>
                                        <td>
                                            <div class="totalDiv">Total</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 vendorArea p-d view-h-100">
        <h1> Ads Area </h1>
    </div>
</div>
<div class="row p-d">
    <div class="col-lg-12 text-center vendorArea">
        <h1> Ads Area </h1>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Please Log In</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Email1">Email address</label>
                        <input type="text" class="form-control" id="Email1" placeholder="Email" ng-model="publicVM.username">
                    </div>
                    <div class="form-group">
                        <label for="Password1">Password</label>
                        <input type="password" class="form-control" id="Password1" placeholder="Password" ng-model="publicVM.password" >
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label for="exampleInputFile">File input</label>-->
                    <!--<input type="file" id="exampleInputFile">-->
                    <!--<p class="help-block">Example block-level help text here.</p>-->
                    <!--</div>-->
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal"
                        ng-click="homeVM.jumpToSignUp( 'signUp' )">Sign Up</button>

                <button type="button" class="btn btn-primary" ng-click="publicVM.login_Fn( 'homepage.new' )">Log In</button>
            </div>
        </div>
    </div>
</div>
