<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="new/#newsUSA" aria-controls="USA" role="tab" data-toggle="tab" >USA</a></li>
            <li role="presentation" ><a href="new/#newWorld" aria-controls="World" role="tab" data-toggle="tab" >World</a></li>
        </ul>
    </div>
</div>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="newsUSA">
        <div class="row border-bottom">
            <div class="col-lg-5 text-right" >
                <h3>Will you vote for Donald Trump ? </h3>
            </div>
            <div class="col-lg-7">
                <table class="table noneBorder">
                    <tbody>
                        <tr>
                            <td>100,253</td>
                            <td>67,890</td>
                            <td>2,567</td>
                            <td>169,000</td>
                            <td rowspan="2" align="center">
                                <span class="glyphicon glyphicon-share"></span>
                            </td>
                            <td rowspan="2" align="center">
                                <button type="button" class="btn btn-info">Comments</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-success">Yes</button>
                            </td>
                            <td>
                                <button class="btn btn-danger">No</button>
                            </td>
                            <td>
                                <button class="btn btn-default">Don't Care</button>
                            </td>
                            <td>
                                <div class="totalDiv">Total</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-5 text-right">
                <h3>Mohammed Ali was the greatest boxer of all time ? </h3>
            </div>
            <div class="col-lg-7">
                <table class="table noneBorder">
                    <tbody>
                    <tr>
                        <td>100,253</td>
                        <td>67,890</td>
                        <td>2,567</td>
                        <td>169,000</td>
                        <td rowspan="2" align="center">
                            <span class="glyphicon glyphicon-share"></span>
                        </td>
                        <td rowspan="2" align="center">
                            <button type="button" class="btn btn-info">Comments</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success">Yes</button>
                        </td>
                        <td>
                            <button class="btn btn-danger">No</button>
                        </td>
                        <td>
                            <button class="btn btn-default">Don't Care</button>
                        </td>
                        <td>
                            <div class="totalDiv">Total</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-5 text-right">
                <h3>How much did you like the latest Starwars movies ? </h3>
            </div>
            <div class="col-lg-7">
                <table class="table noneBorder">
                    <tbody>
                    <tr>
                        <td>100,253</td>
                        <td>67,890</td>
                        <td>2,567</td>
                        <td>169,000</td>
                        <td rowspan="2" align="center">
                            <span class="glyphicon glyphicon-share"></span>
                        </td>
                        <td rowspan="2" align="center">
                            <button type="button" class="btn btn-info">Comments</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success">Yes</button>
                        </td>
                        <td>
                            <button class="btn btn-danger">No</button>
                        </td>
                        <td>
                            <button class="btn btn-default">Don't Care</button>
                        </td>
                        <td>
                            <div class="totalDiv">Total</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="newWorld">
        <h1>Here is the news for the World</h1>
    </div>
</div>
